
main, #drawing {
    min-width: 100%;
    min-height: 84vh;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

#navwin {
    -webkit-app-region: no-drag;
    flex-direction: row !important;
}

#drawing {
    border: 1px solid green;
}