<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VALENCE - Encoding</title>
    <link rel="stylesheet" href="../css/materialize.min.css"/>
</head>
<body class="app-bg">
<header>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="brand-font">ENCODING</h3>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <span id="progress-text"></span>
            </div>
            <div class="col s12">
                <div class="progress">
                    <div id="progress-bar" class="determinate"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Allows Electron to import scripts as normal browser  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<!-- normal script imports etc  -->
<script src="../vendor/jquery/jquery.js"></script>
<script src="../../materialize/bin/materialize.js"></script>

<!-- Resets environment to ensure module object is stil available where it is needed -->
<script>if (window.module) module = window.module;</script>
<script>
    require('./EncodeRender');
</script>
</body>
</html>