<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electron TypeScript Bootsrap Starter</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/Index.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success justify-content-between mb-2 drag pointer">
        <a class="navbar-brand" href="#">Electron TypeScript Bootsrap Starter</a>
        <ul class="navbar-nav ml-2 btn-group my-2 no-drag" id="navwin">
            <li class="nav-item btn btn-success" id="btnDevTools" type="button" title="Open Developer Tools">
                <i class="far fa-search"></i>
            </li>
            <li class="nav-item btn btn-success" id="btnMinimise" type="button" title="Minimise">
                <i class="far fa-window-minimize"></i>
            </li>
            <li class="nav-item btn btn-success" id="btnMaximise" type="button" title="Maximise">
                <i class="far fa-window-maximize"></i>
            </li>
            <li class="nav-item btn btn-success" id="btnQuit" type="button" title="Close">
                <i class="fas fa-window-close"></i>
            </li>
        </ul>
    </nav>
    <footer class="footer">
        <!-- Load jquery and SVG.js via require-->
        <script>
            window.$ = window.JQuery = require("jquery");
            window.Bootstrap = require("bootstrap");
            require("../lib/IndexView.js");
        </script>
    </footer>
</body>

</html>