include ./mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    - var csp = cspString || null
    if csp !== null
      meta(http-equiv="Content-Security-Policy" content=`${cspString}`)
    title Valence
    link(rel="stylesheet" href="../../css/fontawesome-all.min.css")
    link(rel="stylesheet" href="../../css/Index.css")
  body
    nav.navbar.bg-primary.justify-content-between.mb-2.drag.pointer
      .container.justify-content-between
        //- a.navbar-brand(href="#") 
        //-   img.d-inline-block.mr-4(src="../../icons/valence-prpl-base-100px.png", alt="Valence Encoder Logo", width="50" height="50")
        //-   | Valence
        a.navbar-brand(href="#") 
          img.brand-logo-svg.d-inline-block.mr-4(src="../../icons/banner-white.svg", alt="Valence Encoder Logo")
        ul#navwin.navbar-nav.ml-2.btn-group.my-2.no-drag
          li#btnDevTools.nav-item.btn.btn-primary.dev-only.hide(type="button" title="Open Developer Tools")
            i.far.fa-search
          li#btnMinimise.nav-item.btn.btn-primary(type="button" title="Minimise")
            i.far.fa-window-minimize
          li#btnMaximise.nav-item.btn.btn-primary(type="button" title="Maximise")
            i.far.fa-window-maximize
          li#btnQuit.nav-item.btn.btn-primary(type="button" title="Close")
            i.fas.fa-window-close
    main
      .container
        .row
          .col-12
            #form-source
                label.text-primary.mr-2(for="txt-input") Source File
                .input-group
                  input#txt-input.form-control(type="text" placeholder="Click Browse to Select a Video File")
                  .input-group-append
                    +btn("btn-browse-input", "secondary", "fa-folder", "Browse", "ml-2")
      #analysis-result.container.hide
        .row.my-2
          .col
            h4 INFO & OPTIONS
        .row
          .col
            ul#info-tabs.nav.nav-tabs(role="tablist")
              +tab("video-info", "primary", "true")
              +tab("audio-info", "primary")
              +tab("encoder-options", "primary")
            .tab-content
              +tabpanel("video-info", "true")
                table.table
                  thead
                    tr.table-primary
                      th Codec
                      th Duration
                      th Size (kB)
                  tbody
                    tr
                      td#td-video-codec
                      td#td-video-duration
                      td#td-video-size
              +tabpanel("audio-info")
                table.table
                  thead
                    tr.table-primary
                      th Codec
                  tbody
                    tr
                      td#td-audio-codec
              +tabpanel("encoder-options")
                table.table
                  thead
                    tr.table-primary
                      th Audio Codec Options
                  tbody
                    tr
                      td#td-encoder-options-audio

      #analysis-preloader.container.hide
        .row
          .col.s12.center-align
            h4.brand-font ANALYSING VIDEO
        .row
          .col.s12.center-align
            .preloader-wrapper.big.active
              .spinner-layer
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
      .container
        #div-output.row.hide
          .col-12
            #form-output
              label.text-primary(for="txt-output") Output File
              .input-group
                input#txt-output.form-control(type="text", placeholder="Click Browse To Select an output File")
                .input-group-append
                  +btn("btn-browse-output", "secondary", "fa-folder", "Browse")  

      footer.footer.navbar.bg-primary.justify-content-between
        .container.justify-content-between
          +btn("btn-encode", "success", "fa-play", "Start", null, "ml-auto text-white")
      // Load jquery and Bootstrap via require
      script.
        window.$ = window.JQuery = require("jquery");
        window.Bootstrap = require("../../js/bootstrap.bundle.js");
        require("../lib/MainWindow.js");
