.draggable {
   -webkit-app-region: drag;
}

.non-draggable {
    -webkit-app-region: no-drag;
}

.btn > i:after {
    content: '\0000a0\0000a0\0000a0\0000a0';
}

h5 {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
}